* {
    margin: 0;
    padding: 0;
    /* font-family: Work Sans; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.div1 {
    background-image: url('../new-year-new-me/images/banner/banner3.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    /* or */
    /* background-attachment: fixed; */
    /* background-size: 100% 100%; */
}

.hedtit {
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hedp {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

.pb1 {
    color: #005FAC;
    background: #FFF;
    padding: 20px 25px 20px 25px;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    margin-top: 32px;
}

.div2 {
    text-align: right;
    margin-right: 230px;
    padding-top: 216px;
    /* width: 525px; */
    /* justify-content: center; */
}

.parent1 {
    display: flex;
    /* text-align: center; */
    justify-content: center;
    /* padding: auto; */
    gap: 105px;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 130px;
}

.li1 li {
    /* text-decoration: none; */
    list-style-type: none;
    color: #444343;
    padding-bottom: 8px;
}

.child2 {
    max-width: 410px;
    /* padding-right: 0; */

}

.mp1 {
    color: #444343;
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 16px;
    /* color: var(--dark-02, #444343); */
    /* font-family: Work Sans; */
    /* font-size: 16px; */
    /* font-style: normal; */
    font-weight: 400;
    line-height: 26px;
}

.mh1 {
    color: #151414;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mh2 {
    color: #151414;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* align-items: center; */
    text-align: center;
}

.cmn1 {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 15px;
}

.cmn2 {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
    padding-top: 10px;
}

.child21 {
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
}

.parent2 {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-top: 50px;
    gap: 98px;
}

.vajalt {
    color: #FFF;
    font-size: 40px;
    /* font-weight: 700; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 60px;
    /* padding-left: 65px; */
}

.vajal {
    /* background-image: url('../new-year-new-me/images/watch.png'); */
    /* background-repeat: no-repeat; */
    margin-top: 130px;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: left;
    padding-left: 65px;
    /* border-radius: 5px 5px 5px 5px; */
    margin-bottom: 100px;
    /* width: 100vh; */
    /* margin: auto; */
    /* background-image: url('../new-year-new-me/images/gradient1.png'); */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: 8px;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%);
    /* margin-bottom: -100px; */
    /* padding-bottom: -px; */
    height: 300px;
}

.vajalb {
    color: #005FAC;
    background: #FFF;
    padding: 15px 25px 15px 25px;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    margin-top: 12px;
    margin-bottom: 100px;
}

.boss {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin: auto; */
    /* background-size: 100%; */
    width: 100vh;
    margin: auto;
    /* border-radius: 5px; */
    background-image: url('../new-year-new-me/images/watch.png');
    background-repeat: no-repeat;
    border-radius: 8px;
    height: 300px;
}